{% extends 'base.html'%}

{%block title %}
    Index
{%endblock title %}

{%block content %}
  <h1>Benvenuto nel sistema di gestione dei Corsi di Formazione</h1>
  <ul>
    <li><a href="view_a">Lista dei Corsi</a></li>
    <li><a href="view_b">Dettagli dei Corsi</a></li>
    <li><a href="view_c">Corsi che iniziano dopo il 01/05/2025</a></li>
    <li><a href="view_d">Corsi con meno di 20 posti disponibili</a></li>
    <li><a href="view_e">Corsi che terminano entro il 30/04/2025</a></li>
  </ul>
{%endblock content%}